<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - 404 Error Page</title>
  <link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet"><link rel="stylesheet" href="../../static/css/404style.css">
      <script src="../../static/js/404.js"></script>
  {% load static %}
</head>
<body>
<!-- partial:index.partial.html -->
    <div class="text">
      <div>ERROR</div>
      <h1>404</h1>
      <hr>
      <div>Page Not Found</div>
    </div>

    <div class="astronaut">
      <img src="{% static 'img/kocmos.png' %}" alt="" class="src">
    </div>
    <!-- partial -->


</body>
</html>
